@use 'src/styles/variables/measuring';
@use 'src/styles/variables/device';

$header-mb: measuring.$m-42;

.main-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: measuring.$m-90 0;

  &__container {
    width: min(900px, 90vw);
  }

  &__header {
    margin-bottom: $header-mb;
  }
}

@media (max-width: device.$sm) {
  .main-page {
    &__header {
      margin-bottom: calc(#{$header-mb} + #{measuring.$m-24});
    }
  }
}