.main-page {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__container {
    width: min(900px, 90vw);
  }

  &__header {

  }

  &__content {

  }
}