@use 'src/styles/variables/size';
@use 'src/styles/placeholders/text-size';
@use 'src/styles/variables/color';
@use 'src/styles/variables/measuring';
@use 'src/styles/variables/device';

.main-form {
  &__buttons {
    padding-left: size.$form-label-width;
    display: flex;
    align-items: center;
  }

  &__button {
    margin-right: measuring.$m-12;
  }

  &__last-edit {
    @extend %text-xs;
    color: color.$tc-regular-gray;
  }
}

@media (max-width: device.$sm) {
  .main-form {
    &__buttons {
      padding-left: 0;
      justify-content: space-between;
      flex-direction: row-reverse;
    }

    &__button {
      margin: 0;
    }

    &__last-edit {
      margin-right: measuring.$m-12;
    }
  }
}