.status-area {
  display: block;
  background-color: transparent;
  border: none;
  resize: none;
  height: unset;
  width: 100%;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}