//text-colors
$tc-base: #000000;
$tc-header-gray: #666666;
$tc-regular-gray: #999999;
$tc-accent: #0C77BB;
$tc-button: #FFFFFF;
$tc-status: #404040;

//background-colors
$bg-body: #FFFFFF;
$bg-status: #EAEAEA;
$bg-button: #71C838;
$bg-separator: #E5E4E4;

  //borders
$bd-input: #999999;
$bg-page: #E5E4E4;
